body{
background: rgb(114, 114, 231);
font: normal 18pt Arial;

}

header{
    color: white;
    text-align: center;
}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#gif{
    width: 210px;
    height: 210px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.708);
    border-radius: 10px;
}